//Colors
$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #d3d3d3;
$green: #4d914d;
$yellow: #fcee2f;
$blue: #095ec0;
$orange: #db930d;

// Timing animations
$fade-duration: 1s;
$columns-transition-delay: 0.2s;